body {
  background-image: url("https://i.ytimg.com/vi/7XtH-Dpyi18/maxresdefault.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container {
  border-radius: 10px;
  padding: 30px;
  color: white;
  max-width: 400px;
  width: 90%;
}
.user-icon {
  background-color: #666;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}
.user-icon i {
  font-size: 100px;
}

.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  color: white;
}
.form-control:focus {
  box-shadow: none;
  background-color: transparent;
  color: white;
}

.input-group-text{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    color: white;
}