html,
body {
  background: #e3e3d8;
  font-family: sans-serif;
  padding: 25px;
}

.product-btn {
  height: 7rem;
}

.product-btn-top {
  height: 5rem;
}

.action-btn {
  height: 5rem;
}

.product-btn-price {
  margin-top: 10px;
}

.customer-info {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
}

.total-section {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
}

.btn-product-bottom {
  height: 5rem;
}


.square {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}

.square-long {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}


@media (min-width: 768px) {
  .col-2.mb-5.me-4 {
    margin-right: 2rem !important;
  }

  .col-2.mb-5.ms-4 {
    margin-left: 2rem !important;
  }
}
